@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=M+PLUS+1p:wght@300&display=swap');
#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #060644;
    text-decoration: none;
    padding: 35px;
}
#hero-msg h1{
    text-align: center;
}
#hero-msg h4{
    text-align: center;
}
.buton-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 727px;
    background-color: #060644;
}
body{
    background-color: #ffffff;
    font-family: "M PLUS 1p", Tahoma, verdana;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header{
    background-color: #00B4D8;
}
nav a:hover{
    background-color: #060644;
    color: #ffffff;
    text-decoration: underline;
}
.book, .join{
    background-color: #FF8500;
    color: #060644;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #00B4D8;
    color: #FF8500;
    text-decoration: underline;
}
.msg{
    background-color: #060644;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #00B4D8;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    color: #060644;
    font-family: Dangrek, monaco, 'Times New Roman';
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #060644;
}
.msg h2{
    color: #060644;
    font-family: "M PLUS 1p", Tahoma, verdana;
}
.msg p{
    color: #ffffff;
    font-size: .8em;
    padding-bottom: 15px;
}
footer h3{
    color: #ffffff;
}
footer a{
    color: #060644;
    text-decoration: none;
}
footer a:hover{
    color: #FF8500;
    text-decoration: underline;
}
.logo{
    width: 80px;
}
.icon{
    width: 89px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer p{
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
h2{
    margin: 0;
}
#logo_link{
    padding-top: 5px;
}
footer .social img{
    padding-top: 15px;
}
.river-card, .camping-card, .rapids-card{
    margin: 200px;
}
.card-img{
    border: 10px solid #FF8500;
}
main section img{
    box-sizing: border-box;
}